<!DOCTYPE html>
<html>
    <head>
        <title>Visione Economia</title>
        <link rel="stylesheet" href="../public/stylesheets/index/index.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <figure>
                <img src="../public/images/VISIONE.png" class="logo_image">
                <span class="logo_name">Visione <span id="ln_thinword">Economia</span></span>
            </figure>
            <a href="#sec2"><button class="discover_button">
                Esplora
            </button></a>
        </header>
        <section id="sec1">
            <span class="dc_span">Discord Community</span>
            <span class="s1_span">
                Ti affianchiamo <br> 
                nel mondo dell'economia
            </span>
            <span class="s1_ss_span">
                Siamo una community di giovani interessati all'economia e alla finanza, <br>
                il nostro obiettivo è accrescere la conoscenza della materia economica <br>
                nel territorio italiano e specialmente nei giovani.
            </span>
            <img src="../public/images/grf1.png" class="s1_img">
        </section>
        <section id="sec2">
            <span class="s2_vs">VISIONE</span>
            
        </section>
    </body>
</html>

